.App{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hJTIwc2NlbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');


}

.search-container{
  border: 2px solid goldenrod; 
}

form{
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-color: #6c6c6c;
}

input{
  /* border: 5px solid goldenrod; */
  border-radius: 10px;
  padding: 5%;
  background-color: #CFD2CF;
}